* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-content {
  display: grid;
  grid-template-columns: 300px 700px;
  height: 1500px;
  justify-content: center;
  text-align: center;
}

.left-section {
  background-color: #242531;
  color: white;
}

.right-section {
  background-color: rgb(182, 212, 224);
  padding: 20px;
}

.profileimg {
  width: 200px;
  height: 170px;
  border-radius: 50%;
  border: solid 3px rgb(156, 135, 135);
  margin-top: 20px;
}

#name {
  padding: 1rem;
}

#techstack {
  padding: 1rem;
  line-height: 1.5em;
}

.line {
  width: 80%;
  margin-left: 10%;
}

.socailmedia {
  display: flex;
  justify-content: space-evenly;
}

#details {
  padding: 1rem;
  text-align: start;
  padding-left: 30px;
}

.subdetail {
  padding: 5px;
}
.skillsHeading {
  padding-top: 20px;
}

.skill {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: start;
  padding-left: 20px;
}

#html,
#css,
#js,
#react,
#node,
#mongo,
#java,
#english,
#telugu,
#hindi {
  margin-left: 20px;
  height: 5px;
  margin-right: 20px;
  background-color: rgb(191, 214, 57);
}

.icons {
  color: white;
}

#html {
  width: 90%;
}

#css {
  width: 80%;
}

#js {
  width: 70%;
}

#react {
  width: 70%;
}

#node {
  width: 50%;
}

#mongo {
  width: 50%;
}

#java {
  width: 40%;
  margin-bottom: 20px;
}

#english {
  width: 80%;
}

#telugu {
  width: 90%;
}

#hindi {
  width: 40%;
}

.career {
  width: 100%;
  text-align: left;
  padding-bottom: 5px;
}

.headings {
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 5px;
}

p {
  text-align: left;
}

.years {
  float: left;
}

table,
th,
td {
  border: solid 0.5px;
  border-collapse: collapse;
  padding: 5px;
}

#leftpart {
  float: left;
}
.projectTitle {
  font-size: large;
  font-weight: bold;
  padding-right: 10px;
}

time {
  float: right;
  font-weight: bold;
}

#description {
  margin-top: 5px;
  max-width: 70%;
}

#techstacks {
  float: right;
  margin-top: -35px;
  font-weight: bold;
}

#projectbox {
  margin-top: 12px;
}

.messeage {
  display: none;
}

.gitlink:hover + .messeage {
  display: block;
  color: red;
}

@media screen and (max-width: 400px) {
  .right-section {
    width: 100%;
    margin-top: 1200px;
    position: absolute;
    background-color: #242531;
    color: white;
    width: 100%;
  }
  .main-content {
    text-align: center;
  }
  .left-section {
    position: absolute;
    height: 1500px;
    background-color: #242531;
    color: white;
    width: 100%;
  }
}
